body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0e1111, #e8e8e8);
    color: white;
    font-family: monospace;
}

.container {
    width: 45vw;
    background: #0e1111;
    padding: 20px;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p {
    width: 40vw;
    margin-top: 0px;
    margin-bottom: 20px;
}
